<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524592189175-8nfjdvduruk618au33edvos5gchq08o6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524592189175-8nfjdvduruk618au33edvos5gchq08o6</string>
	<key>API_KEY</key>
	<string>AIzaSyBWgh-PBxV0nFUn5zCMVA30P9uMIIsaJaU</string>
	<key>GCM_SENDER_ID</key>
	<string>524592189175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maytemur.-8FotografPaylasmaUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>fotografpaylasma-9ed4d</string>
	<key>STORAGE_BUCKET</key>
	<string>fotografpaylasma-9ed4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524592189175:ios:29126e3f44ee0dde348df2</string>
</dict>
</plist>